.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
resources_work/**
test-extensions/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
Todo.txt
