
.subCheckbox {
	margin-inline-start: 20px;
}

.hidden {
	visibility: hidden;
}

/* Why !important is needed to override
   vscode.css input:not([type='checkbox']), textarea */
.input-as-label:disabled {
    background-color: transparent !important;
    border: none                  !important;
}

.container{
    display: flex;
}
.right {
    flex-grow: 1;
}
